<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login success!</title>
  </head>
  <body>
    <div>
    <h2> Wecome to Jace's Blog</h2>
    <form action='/login' method='post'>
        <h4> already have account? Log in! </h4>
        <br>
        Email: <input type='text' name='l_email'>
        <br>
        Password : <input type='password' name='l_pwd'>
        <br>
        <button type="submit" name="login">Log in</button>
    </form>
    </div>
    <div>

    <form action='/regi' method='post'>
      <h4> Don't have account? </h4>
      <button type="submit" name="regi">Reigester</button>
    </form>
    </div>
  </body>
</html>
