<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      *
      {
        margin:0px auto;
        padding:0px auto;
        text-align: center;
      }
      .box
      {
        border: 4px solid black;
      }
    </style>
  </head>
  <body>
    <h2></h2>
    <div class="box">
      <!-- {{request.session.random}} -->
    </div>
    <form class="" action="/generate" method="post">
      {% csrf_token %}
      <button type="submit" name="submit">Generate</button>
    </form>
  </body>
</html>
